
<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon> menu </md-icon>
  </button>
  <button md-button routerLinkActive="active" routerLink="/chat"> CHAT </button>
  <span class="example-spacer"></span>
  <span [appShowAuthed]="false">
    <button md-button routerLinkActive="active" routerLink="/signin"> SIGN IN </button>
    <button md-button routerLinkActive="active" routerLink="/signup"> SIGN UP </button>
  </span>
  <span [appShowAuthed]="true">
    <button md-button (click)="logout()"> LOGOUT </button>
  </span>
</md-toolbar>
