
<div fxLayout="row" fxFill>
    <div fxFlex="20%" fxLayoutAlign="center center">

         Left Menu

    </div>
    <div fxFlex="80%" fxLayoutAlign="center center"> 

        <div fxLayout="column" fxFill>
            <div class="one" fxLayoutAlign="center center">
                Top Bar
            </div>
            <div class="two" fxLayoutAlign="center center"> 
                Chat Content
            </div>
            <div class="three" fxLayoutAlign="center center"> 
                Chat Input
            </div>
        </div>

    </div>
</div>
