
<div fxLayout="column" fxFill>
    <div fxLayout fxFlex >
        <div class="one" fxFlex="20" fxLayoutAlign="center center"> A </div>
        <div class="two" fxFlex="80" fxLayoutAlign="center center"> B </div>
    </div>
</div>

<div class="flex-container">
	<div fxLayout="row" fxLayoutAlign="start center" class="content">
		<div class="blocks" fxFlex = "20%">
      fix(api): support query children on API directives (#290)
* support DI of flexbox/api Directive classes
* implement Directive method `activatedValue` getter/setter
  * to imperatively read current activated input value
  * to write API values with immediate style updates
* implement demo using splitters (ngxSplit) with fxLayout and fxFlex layouts
    </div>
		<div class="blocks" fxFlex = "60%">2</div>
		<div class="blocks" fxFlex>3</div>
	</div>
</div>