
<!--
<div fxLayout="column" fxFill  >

  <div fxFlex="" fxLayoutAlign="start center">
  -->
  
<md-list [style.width]="'inherit'">

  <md-list-item dir="{{ mqttClientId === msg.createdBy ? 'rtl' : 'ltl' }}" *ngFor="let msg of msgList">
    <md-icon md-list-icon>person</md-icon>

    <div md-line>
      <div class="message" [ngClass]="{'message-owner': mqttClientId === msg.createdBy}">{{msg.content}}</div>
    </div>
    <p md-line class="timestamp"> {{msg.createdAt | date}} </p>

  </md-list-item>

  <!--
  <ng-container *ngFor="let msg of msgList">

    <div class="message" [ngClass]="{'message-owner':mqttClientId === msg.createdBy}">
      <ng-container *ngIf="mqttClientId !== msg.createdBy">
      <figure class="avatar"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg"></figure>
      </ng-container>
      {{msg.content}}
      {{msg.createdBy}}
      <div class="timestamp">22:42</div>
    </div>
  </ng-container>
  -->

</md-list>

<!--
  </div>

</div>
-->
